<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="support.css">
</head>
<body>
    <div class="box">
        <h1 class="form_headline">Registration Forum</h1>
        <form class="form_box" action="/signup" method="post" novalidate>
            
            <span class="two_block">
                <input type="text" name="f_name" id="first_name" required pattern="[a-zA-Z]{3,12}"  placeholder="First Name *" >
                <input type="text" name="l_name" id="last_name" placeholder="Last Name" >
            </span>
            <span class="two_block">
                <input type="text" name="username" id="username" required pattern="[a-zA-Z0-9.]{3,30}" placeholder="Username *" >
                <input type="text" name="token" id="token" required placeholder="Token *">
            </span>
            <input type="email" name="email" id="email" required placeholder="Email *">
            <span class="two_block t2">
                <span class="country" >
                    <div class="type_selector">
                        <span class="selected"><p>country *</p></span>
                        <img id="options-image" src="svg/arrow.svg" alt="">
                    </div>
                    <div class="options-mask option-mask-hidden">
                        <div class="options">
                            <span class="option" data-value="usa" ><img class="opi" src="svg/usa.svg" alt=""> <p class="opi-p">USA</p></span>
                            <span class="option" data-value="india" ><img class="opi" src="svg/ind.svg"  alt=""> <p class="opi-p">India</p></span>
                            <span class="option" data-value="canada" ><img class="opi" src="svg/can.svg"  alt=""> <p class="opi-p">Canada</p></span>
                            <span class="option" data-value="japan" ><img class="opi" src="svg/jpn.svg"  alt=""> <p class="opi-p">Japan</p></span>
                            <span class="option" data-value="china" ><img class="opi" src="svg/chn.svg"  alt=""> <p class="opi-p">China</p></span>
    
                        </div>
                    </div>
                </span>
                <input hidden type="text" data-error="<%= error %>" data-f_name="<%= f_name %>" data-l_name="<%= l_name %>" data-username="<%= username %>" data-token="<%= token %>" data-email="<%= email %>"  data-number="<%= number %>" data-desc="<%= desc %>" name="c" id="c" >
                <input type="text" id="number" name="number" pattern="[0-9]{10, 13}" placeholder="Contact Number">
            </span>
            <span class="two_block">
                <input type="text" name="p1" id="p1" required pattern="[a-zA-Z ]{3,30}"  placeholder="Profession 1 *" >
                <input type="text" name="p2" id="p2"  pattern="[a-zA-Z ]{3,30}" placeholder="Profession 2">
            </span>
            <span class="two_block">
                <input type="text" name="p3" id="p3"  pattern="[a-zA-Z ]{3,30}"  placeholder="Profession 3" >
                <input type="text" name="p4" id="p4"  pattern="[a-zA-Z ]{3,30}" placeholder="Profession 4">
            </span>
            <textarea name="Description" id="desc" rows="5" placeholder="Description *" required pattern="[a-zA-Z0-9]{3,12}"></textarea>
           
        </form>
        <button class="form_submit" onclick="submit_form()">Submit form</button>
        <p class="form_more"> </p>
    </div>
    <div class="error_box hidden">
        <img src="media/svg/error.svg" alt="">
        <p id="error_msg">Something went wrong</p>
    </div>
    <script>
         function close(){
                setTimeout(() => {
                    box.classList.add("hidden");
                }, 2000);
            }
            const error = document.getElementById("error_msg"); // use getElementById instead
            const box = document.querySelector(".error_box"); // use querySelector instead
        function open1(){
            document.querySelector('#options-image').setAttribute("style", "Rotate:-90deg")
            document.querySelector(".options-mask").classList.remove("option-mask-hidden")
        }
        
        function close1(){
            document.querySelector('#options-image').setAttribute("style", "Rotate:90deg")
            document.querySelector(".options-mask").classList.add("option-mask-hidden")
        }
        function select_options(){
            let value = document.querySelector(".options-mask").classList
            let yes = value.value.indexOf("option-mask-hidden")
            if(yes == -1){
                close1()
            }
            else{
                open1()
            }
        }
        document.querySelector(".options-mask").addEventListener("Click",()=>{
            close1()
        })
        let options = document.querySelectorAll(".option")
        options.forEach((e)=>{
            e.addEventListener("click", ()=>{
                let a = e.innerHTML
                const ca = e.getAttribute("data-value");
                document.querySelector("#c").setAttribute("value", ca)
                console.log(ca);
                document.querySelector(".selected").innerHTML = a
            })
        })
        document.querySelector(".country").addEventListener("click", ()=>{
            select_options()
        })
        function submit_form(){
            const username = document.getElementById("username").value;
            const name = document.getElementById("first_name").value;
            const p1 = document.getElementById("p1").value;
            const email = document.getElementById("email").value;
            const country = document.querySelector("#c").value
            const token = document.querySelector("#token").value;
 
            console.log(country);
          
            if(!name){
                error.innerText = "First name is required";
                box.classList.remove("hidden");
                close()
            }
            else if (!username) {
                error.innerText = "Username is required";
                box.classList.remove("hidden");
                close()
            }
            else if (username.length < 3) {
                error.innerText = "Username is too short";
                box.classList.remove("hidden");
                close()
            }
            else if (!email) {
                error.innerText = "Email is required";
                box.classList.remove("hidden");
                close()
            }
            else if (!token) {
                error.innerText = "Token is required";
                box.classList.remove("hidden");
                close()
            }
            else if (email.indexOf("@") === -1 || email.indexOf(".") === -1) {
                error.innerText = "Email is not valid";
                box.classList.remove("hidden");
                close()
            }
            else if(!country){
                error.innerText = "Country is required";
                box.classList.remove("hidden");
                close()
            }
            else if(!p1){
                error.innerText = "Profession 1 is required";
                box.classList.remove("hidden");
                close()
            }
            else{
                document.querySelector(".form_box").submit()
            }
        }
        window.onload= () => {
            let c = document.querySelector("#c")
            let f = c.getAttribute("data-f_name")
            let l = c.getAttribute("data-l_name")
            let username = c.getAttribute("data-username")
            let email = c.getAttribute("data-email")
            let token = c.getAttribute("data-token")
            let number = c.getAttribute("data-number")
            let desc = c.getAttribute("data-desc")
            let err = c.getAttribute("data-error")
            if(err == " "){
                console.log("no error found");
            }
            else{
                console.log(err);
                error.innerText = err;
                box.classList.remove("hidden");
                close()
            }
            document.getElementById("first_name").value = f
            document.getElementById("last_name").value = l
            document.getElementById("username").value = username
            document.getElementById("token").value = token
            document.getElementById("email").value = email
            document.getElementById("number").value = number
            document.getElementById("desc").value = desc
        }
    </script>
</body>
</html>